<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manage Teachers
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Add / Edit Teacher</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="teacher.name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" ng-model="teacher.email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="teacher.password">
                        </div>
                        <div class="form-group">
                            <label for="passwordConfirm">Confirm Password</label>
                            <input type="password" class="form-control" id="passwordConfirm" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <label for="avatar">Avatar</label>
                            <input type="file" id="avatar">
                            <p class="help-block">Block-level help text here.</p>
                        </div>
                        <div class="form-group">
                            <label for="intro">Introduction</label>
                            <textarea class="form-control" rows="5" id="intro" ng-model="teacher.description"></textarea>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button ng-if="!teacher._id" type="submit" class="btn btn-primary" ng-click="createTeacher()">Create</button>
                        <button ng-if="teacher._id" type="submit" class="btn btn-primary" ng-click="updateTeacher()">Update</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->


        </div>
        <!--/.col (left) -->

    </div>
    <!-- /.row -->
</section>
<!-- /.content -->