<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manage Teachers
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Teachers</h3>
                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control input-sm pull-right"
                                   placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th width="1%"></th>
                            <th>Name</th>
                            <th>Email</th>
                            <th width="1%"></th>
                        </tr>
                        <tr ng-repeat="teacher in teachers">
                            <td><a href="#/teacher/{{teacher._id}}">
                                <img ng-if="!teacher.imageLink" src="http://placehold.it/50x50"/>
                                <img ng-if="teacher.imageLink" style="width:50px;height:50px" src="{{prefix+teacher.imageLink}}">
                            </a></td>
                            <td><a href="#/teacher/{{teacher._id}}">{{teacher.name}}</a></td>
                            <td>{{teacher.email}}</td>
                            <td><a href="#/teacher/{{teacher._id}}/edit" type="button" class="btn btn-default btn-s">Edit</a></td>
                        </tr>
                    </table>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <a href="#/teacher/create" type="button" class="btn btn-success">Add Teacher</a>
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li ng-if="currentPage > 1">
                            <a ng-click="getTeacherPage(currentPage-1,limit)">Previous</a>
                        </li>
                        <li ng-repeat="i in getNumber(pageCount) track by $index" ng-click="getTeacherPage($index + 1, limit)">
                            <a >{{$index + 1}}</a>
                        </li>
                        <li ng-if="currentPage < pageCount">
                            <a ng-click="getTeacherPage(currentPage+1,limit)">Next</a>
                        </li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->