<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-md-offset-2 col-md-8">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="col-md-4">
                        <div class="form-group margin-bottom-none">
                            <select2 class="form-control select2" id="school" ng-model="school" default-option="All Schools" ng-options="school._id as school.name for school in schools track by school._id"></select2>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input class="form-control" placeholder="Course Name" ng-model="courseName">

                            <div class="input-group-btn">
                                <button type="button" class="btn" ng-click="search()">Search</button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->

        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body">
                    <!-- Post -->
                    <div class="post" ng-repeat="course in courses">
                        <div class="course-block">
                            <img ng-if="!course.imageLink" class="img-bordered" src="http://placehold.it/200x150">
                            <img ng-if="course.imageLink"  class="large-image img-bordered" src="{{prefix+course.imageLink}}">
                            <span class='course-name'>
                                <a href="#/course/{{course._id}}/view">{{course.name}}</a>
                            </span>
                            <span class='info'><b>School:</b><a href="#/presenter/{{course.presenter._id}}">{{course.presenter.name || 'School Name'}}</a></span>
                            <!--<span class='info'><b>Teacher:</b><a href="#/teacher/1">Liang Guo</a><a href="#/teacher/1">Jiadong Hu</a></span>-->
                            <span class='info'><b>Updated at:</b>{{course.updatedAt}}</span>
                            <p class="description">
                                {{course.description || 'Course description'}}
                            </p>
                        </div><!-- /.user-block -->

                    </div><!-- /.post -->




                </div><!-- /.box-body -->

                <div class="box-footer">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li ng-if="currentPage > 1">
                            <a ng-click="getSearchPage(currentPage-1,limit)">Previous</a>
                        </li>
                        <li ng-repeat="i in getNumber(pageCount) track by $index" ng-click="getSearchPage($index + 1, limit)">
                            <a >{{$index + 1}}</a>
                        </li>
                        <li ng-if="currentPage < pageCount">
                            <a ng-click="getSearchPage(currentPage+1,limit)">Next</a ng-click="getSearchPage(currentPage+1,limit)">
                        </li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>