<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit Profile</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">School Name</label>
                            <input type="text" class="form-control" id="name" placeholder="School Name" ng-model="user.name">
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" placeholder="Location" ng-model="user.location">
                        </div>
                        <div class="form-group">
                            <label >Picture</label>

                                <img class="thumbnail" ng-show="myFile.name"   style="length:300px;width:300px;"/>
                            <input type="file" file-model="myFile" accept="image/*"/>
                            <!--<input type="file" file-model="myFile" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}" />-->
                        </div>
                        <div class="form-group">
                            <label for="intro">Introduction</label>
                            <textarea class="form-control" rows="5" id="intro" ng-model="user.description"></textarea>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="update()">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->

        </div>
        <div class="col-md-4">
            <!-- general form elements -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Change Password</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="currentPasswor">Current Password</label>
                            <input type="password" class="form-control" id="currentPasswor" placeholder="Current Password" ng-model="currentPassword">
                        </div>
                        <div class="form-group">
                            <label for="newPassword">New Password</label>
                            <input type="password" class="form-control" id="newPassword" placeholder="New Password" ng-model="password">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" ng-model="confirmPassword">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="changePassword()">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->

        </div>
        <div class="col-md-8">
            <div class="box box-default">
                <div class="box-header with-border pointer" ng-click="toggleZoomCred()">
                    <h3 class="box-title">Zoom Information</h3>
                </div>
                <form role="form" ng-show="showZoominfo" >
                    <div class="box-body">
                        <div class="form-group">
                            <label for="apiKey">Api Key</label>
                            <input type="text" class="form-control" id="apiKey" placeholder="Api Key" ng-model="zoomApiKey">
                        </div>
                        <div class="form-group">
                            <label for="apiSecret">Api Secret</label>
                            <input type="text" class="form-control" id="apiSecret" placeholder="Api Secret" ng-model="zoomApiSecret">
                        </div>
                        <div class="form-group">
                            <label for="accessToken">Access Token</label>
                            <input type="text" class="form-control" id="accessToken" placeholder="Access Token" ng-model="zoomAccessToken">
                        </div>
                        <div class="form-group">
                            <label for="hostId">Host ID</label>
                            <input type="text" class="form-control" id="hostId" placeholder="Host ID" ng-model="zoomHostId">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="updateZoomCred()">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->

        </div>

        <div class="col-md-8">
            <div class="box box-default">
                <div class="box-header with-border pointer" ng-click="toggleVimeoCred()">
                    <h3 class="box-title">Vimeo Information</h3>
                </div>
                <form role="form" ng-show="showViemoInfo" >
                    <div class="box-body">
                        <div class="form-group">
                            <label for="vimeo-access-token">Access Token</label>
                            <input type="text" class="form-control" id="vimeo-access-token" placeholder="Access Token" ng-model="vimeoAccessToken">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="updateVimeoCred()">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->

        </div>
    </div><!-- /.row -->
</section>
