<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="images/default-profile-image.png"
                         alt="User profile picture">
                    <h3 class="profile-username text-center">University of Cambridge</h3>

                    <!--<ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Courses</b><a class="pull-right">22</a>
                        </li>
                        <li class="list-group-item">
                            <b>Lectures</b><a class="pull-right">1,322</a>
                        </li>
                    </ul>-->

                    <hr/>

                    <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                    <p class="text-muted">Cambridge, United Kingdom</p>

                    <hr>

                    <!--<strong><i class="fa fa-user margin-r-5"></i> Teachers</strong>
                    <p class="text-muted teacher">
                        <a href="">Liang Guo</a><a href="">Jiadong Hu</a>
                    </p>

                    <hr>-->

                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Introduction</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>

                    <a href="#/presenter/profile" class="btn btn-primary btn-block"><b>Edit Profile</b></a>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-9">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Courses</h3>
                    <!--<div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control input-sm pull-right"
                                   placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>-->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- Post -->
                    <div class="post">
                        <div class="course-block">
                            <img class="img-bordered" src="http://placehold.it/200x150">
                            <span class='course-name'>
                                <a href="#">Java Introduction</a>
                            </span>
                            <!--<span class='info'><b>Teacher:</b><a href="">Liang Guo</a><a href="">Jiadong Hu</a></span>-->
                            <span class='info'><b>Updated at:</b>3 days ago</span>
                            <!--<span class='info'><b>Lecture:</b>5</span>-->
                            <p class="description">
                                Lorem ipsum represents a long-held tradition for designers,
                                typographers and the like. Some people hate it and argue for
                                its demise, but others ignore the hate as they create awesome
                                tools to help create filler text for everyone from bacon lovers
                                to Charlie Sheen fans.
                            </p>
                        </div><!-- /.user-block -->

                    </div><!-- /.post -->

                    <!-- Post -->
                    <div class="post">
                        <div class="course-block">
                            <img class="img-bordered" src="http://placehold.it/200x150">
                            <span class='course-name'>
                                <a href="#">Project Management</a>
                            </span>
                            <!--<span class='info'><b>Teacher:</b><a href="">Liang Guo</a><a href="">Jiadong Hu</a></span>-->
                            <span class='info'><b>Updated at:</b>3 days ago</span>
                            <!--<span class='info'><b>Lecture:</b>5</span>-->
                            <p class="description">
                                Lorem ipsum represents a long-held tradition for designers,
                                typographers and the like. Some people hate it and argue for
                                its demise, but others ignore the hate as they create awesome
                                tools to help create filler text for everyone from bacon lovers
                                to Charlie Sheen fans.
                            </p>
                        </div><!-- /.user-block -->

                    </div><!-- /.post -->

                    <!-- Post -->
                    <div class="post">
                        <div class="course-block">
                            <img class="img-bordered" src="http://placehold.it/200x150">
                            <span class='course-name'>
                                <a href="#">Algorithm Introduction</a>
                            </span>
                            <!--<span class='info'><b>Teacher:</b><a href="">Liang Guo</a><a href="">Jiadong Hu</a></span>-->
                            <span class='info'><b>Updated at:</b>3 days ago</span>
                            <!--<span class='info'><b>Lecture:</b>5</span>-->
                            <p class="description">
                                Lorem ipsum represents a long-held tradition for designers,
                                typographers and the like. Some people hate it and argue for
                                its demise, but others ignore the hate as they create awesome
                                tools to help create filler text for everyone from bacon lovers
                                to Charlie Sheen fans.
                            </p>
                        </div><!-- /.user-block -->

                    </div><!-- /.post -->
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <a href="#/presenter/course" type="button" class="btn btn-success">Manage Courses</a>
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>