<section calss="container">
    <h1>Login</h1>
    <div class="row">
        <from id="login" name="loginForm" calss="horm-horizontal">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="inputEmail">Enter Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Enter Email" ng-model="users.email" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Enter Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" ng-model="users.password" required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="login()">Login</button>
                </div>
                <div class="form-group">
                    <div ng-if="users.error">{{users.error}}</div>
                </div>
            </div>
        </from>
    </div>
</section>