<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manage Courses
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Add / Edit Course</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="picture">Picture</label>
                            <input type="file" id="picture">
                            <p class="help-block">Block-level help text here.</p>
                        </div>
                        <div class="form-group">
                            <label for="intro">Introduction</label>
                            <textarea class="form-control" rows="5" id="intro"></textarea>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->

            <button type="submit" class="btn btn-primary btn-block">Manage Lectures</button>
            <button type="submit" class="btn btn-danger btn-block">Remove this Course</button>

        </div>
        <!--/.col (left) -->

    </div>
    <!-- /.row -->
</section>
<!-- /.content -->