<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="img-bordered center-block" src="http://placehold.it/200x150"
                         alt="User profile picture">
                    <h3 class="profile-username text-center">{{course.name}}</h3>

                    <!--<ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Lectures</b> <a class="pull-right">1,322</a>
                        </li>
                    </ul>-->

                    <hr/>

                    <strong><i class="fa fa-book margin-r-5"></i> School</strong>
                    <p class="text-muted">
                        <a href="#/presenter/{{course.presenter._id}}">{{course.presenter.name}}</a>
                    </p>

                    <!--<hr>

                    <strong><i class="fa fa-user margin-r-5"></i> Teacher(s)</strong>
                    <p class="text-muted teacher"><a href="">Liang Guo</a><a href="">Jiadong hu</a></p>-->

                    <hr>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Introduction</strong>
                    <p>{{course.description}}</p>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-9">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Lectures</h3>
                    <!--<div class="box-tools">-->
                        <!--<div class="input-group" style="width: 150px;">-->
                            <!--<input type="text" name="table_search" class="form-control input-sm pull-right"-->
                                   <!--placeholder="Search">-->
                            <!--<div class="input-group-btn">-->
                                <!--<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- Post -->
                    <div class="post" ng-repeat="lecture in lectures">
                        <div class="course-block">
                            <a href="#/lecture/{{lecture._id}}"><img class="img-bordered" src="http://placehold.it/200x150"></a>
                            <span class='course-name'>
                                <a href="#/lecture/{{lecture._id}}">{{lecture.name}}</a>
                            </span>
                            <span class='info'><b>Teacher:</b><a href="#/teacher/{{lecture.teacher._id}}">{{lecture.teacher.name}}</a></span>
                            <span class='info'><b>Date:</b>{{lecture.time | date:'medium'}}</span>
                            <p class="description">
                                {{lecture.description}}
                            </p>
                        </div><!-- /.user-block -->

                    </div><!-- /.post -->
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <a href="#/lecture/{{course._id}}/create" type="button" class="btn btn-success" ng-if="isPresenter">Manage Lecture</a>
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>