<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manage Lectures
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <!-- general form elements -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Add / Edit Lecture</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" ng-model="lecture.name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="teacher">Teacher</label>
                            <select2 class="form-control select2" id="teacher" ng-model="lecture.teacher" ng-options="teacher._id as teacher.name for teacher in teachers track by teacher._id"></select2>
                        </div>
                        <div class="form-group">
                            <label for="date">Date</label>
                            <date-time-picker id="date" class="form-control" date-format="MM/DD/YYYY h:mm A" ng-model="lecture.time" placeholder="Date"></date-time-picker>
                        </div>
                        <div class="form-group">
                            <label for="intro">Introduction</label>
                            <textarea class="form-control" ng-model="lecture.description" rows="5" id="intro"></textarea>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button ng-if="!lecture._id" type="submit" class="btn btn-primary" ng-click="createLecture()">Create</button>
                        <button ng-if="lecture._id" type="submit" class="btn btn-primary" ng-click="updateLecture()">Update</button>
                        <button type="reset" class="btn btn-warning pull-right" ng-click="reset()">Reset</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->


        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-9">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Lectures</h3>
                    <!--<div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control input-sm pull-right"
                                   placeholder="Search">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>-->
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th width="1%"></th>
                            <th>Name</th>
                            <th>Teacher</th>
                            <th>Date</th>
                            <th width="1%"></th>
                        </tr>
                        <tr ng-repeat="lectureItem in lectures">
                            <td><a href="#/lecture/{{lectureItem._id}}"><img src="http://placehold.it/100x75"/></a></td>
                            <td><a href="#/lecture/{{lectureItem._id}}">{{lectureItem.name}}</a></td>
                            <td class="teacher"><a href="#/teacher/{{lectureItem.teacher._id}}">{{lectureItem.teacher.name}}</a></td>
                            <td>{{lectureItem.time | date:'medium'}}</td>
                            <td><a href="" type="button" class="btn btn-default btn-s" ng-click="loadLectureInfo(lectureItem)">Edit</a></td>
                        </tr>
                    </table>
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div><!-- /.box -->


        </div>
        <!--/.col (right) -->

    </div>
    <!-- /.row -->
</section>
<!-- /.content -->