<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-9">
            <div ng-show = "lecture.hasVideo" class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        src="{{lecture.vimeoLink}}" frameborder="0"
                        title="{{lecture.name}}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">{{lecture.name}}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Course:</dt>
                        <dd><a href="#/course/{{lecture.course._id}}/view">{{lecture.course.name}}</a></dd>
                        <dt>Teacher:</dt>
                        <dd class="teacher"><a href="#/teacher/{{lecture.teacher._id}}">{{lecture.teacher.name}}</a></dd>
                        <dt>School:</dt>
                        <dd><a href="#/presenter/{{lecture.presenter._id}}">{{lecture.presenter.name}}</a></dd>
                        <dt>Duration:</dt>
                        <dd>40 Minutes</dd>
                        <dt>Description:</dt>
                        <dd>
                            {{lecture.description}}
                        </dd>
                    </dl>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            <div ng-show="!lecture.hasVideo && lecture.hasZoom " class="box box-solid">
                <div class="box-body">
                    <h2 class="text-center"><a href="{{lecture.zoomLink}}">Attend class</a></h2>
                    <p class="text-center"><strong>Start at {{lecture.time | date:'medium'}}</strong></p>
                </div>

            </div>
        </div><!-- /.col -->
        <div class="col-md-3">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Related Lecture</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- Post -->
                    <div ng-repeat="relatedLecture in relatedLectures" class="post">
                        <div class="related-lecture-block">
                            <a href="#/lecture/{{relatedLecture._id}}">
                                <img ng-if="!relatedLecture.imageLink" class="img-bordered" src="http://placehold.it/100x100">
                                <img ng-if="relatedLecture.imageLink" style="width:100px;height:100px" class="img-bordered" src="{{prefix+relatedLecture.imageLink}}"/>

                            </a>
                            <span class='lecture-name'>
                                <a href="#/lecture/{{relatedLecture._id}}">{{relatedLecture.name}}</a>
                            </span>
                            <p class="description">
                                {{relatedLecture.description}}
                            </p>
                        </div><!-- /.user-block -->

                    </div><!-- /.post -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>