<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        src="https://player.vimeo.com/video/153165991?badge=0&autopause=0&player_id=0" frameborder="0"
                        title="2015-06-09 14.40.22" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Java Lecture 3</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>Course:</dt>
                        <dd><a href="">Java Introduction</a></dd>
                        <dt>Teacher:</dt>
                        <dd class="teacher"><a href="">Liang Guo</a></dd>
                        <dt>School:</dt>
                        <dd><a href="">University of Cambridge</a></dd>
                        <dt>Description:</dt>
                        <dd>
                            Lorem ipsum represents a long-held tradition for designers,
                            typographers and the like. Some people hate it and argue for
                            its demise, but others ignore the hate as they create awesome
                            tools to help create filler text for everyone from bacon lovers
                            to Charlie Sheen fans.
                        </dd>
                    </dl>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-3">
            <div class="box box-default">
                <div class="box-header">
                    <h3 class="box-title">Related Lecture</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!-- Post -->
                    <div class="post">
                        <div class="related-lecture-block">
                            <img class="img-bordered" src="http://placehold.it/100x100">
                            <span class='lecture-name'>
                                <a href="#">Java Lecture 2</a>
                            </span>
                            <p class="description">
                                Lorem ipsum represents a long-held tradition for designers,
                                typographers and the like. Some people hate it and argue for
                                its demise, but others ignore the hate as they create awesome
                                tools to help create filler text for everyone from bacon lovers
                                to Charlie Sheen fans.
                            </p>
                        </div><!-- /.user-block -->

                    </div><!-- /.post -->
                    <!-- Post -->
                    <div class="post">
                        <div class="related-lecture-block">
                            <img class="img-bordered" src="http://placehold.it/100x100">
                            <span class='lecture-name'>
                                <a href="#">Java Lecture 1</a>
                            </span>
                            <p class="description">
                                Lorem ipsum represents a long-held tradition for designers,
                                typographers and the like. Some people hate it and argue for
                                its demise, but others ignore the hate as they create awesome
                                tools to help create filler text for everyone from bacon lovers
                                to Charlie Sheen fans.
                            </p>
                        </div><!-- /.user-block -->

                    </div><!-- /.post -->
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section>