<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Lectures
        <small></small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Upload Lecture</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" ng-submit="uploadVideo(videoFile)">
                    <div class="box-body">
                        <div class="alert alert-warning alert-dismissible" ng-if="isNoQuota">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-warning"></i>Out of Quota</h4>
                            {{noQuotaMessage}}
                        </div>
                        <div class="form-group">
                            <label for="videoFile">Avatar</label>
                            <input class="form-control" type="file" id="videoFile" name="videoFile" ngf-select ng-model="videoFile" ng-disabled="isNoQuota" required
                                   placeholder="File">
                            <p class="help-block">Block-level help text here.</p>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="isNoQuota">Submit</button>
                    </div>
                </form>
                <div class="progress progress-sm active" ng-class="videoFile.progress != 100 ? 'active' : ''">
                    <div class="progress-bar" ng-class="videoFile.progress != 100 ? 'progress-bar-primary progress-bar-striped' : 'progress-bar-success'" role="progressbar" aria-valuenow="{{videoFile.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{videoFile.progress}}%">
                        <span class="sr-only">{{videoFile.progress}}% Complete</span>
                    </div>
                </div>
            </div>
            <!-- /.box -->


        </div>
        <!--/.col (left) -->

    </div>
    <!-- /.row -->
</section>
<!-- /.content -->